/* Todo List */
.unorderedTodos {
    list-style: none;
}

.unorderedTodos button {
    font-size: 1rem;
}

.completed {
    text-decoration: line-through;
}

.unorderedTodos input[type="text"] {
    border: 2px solid #aaa;
    border-radius:4px;
    box-sizing: border-box;
    width: 95%;
    height: 2.5rem;
    text-align: center;
}


.unorderedTodos button {
    border: 2px solid #aaa;
    border-radius:4px;
    width: 3rem;
    height: 3rem;
    margin: 0.5rem 0.7rem 0.5rem 0.7rem
}


@media (min-width:600px){

    .unorderedTodos input[type="text"] {
        width: 50%;
    }
    
    
    .unorderedTodos button {

        height: 2.3rem;
        margin: 0.4rem
    }
}
